html {
	position: relative;
	min-height: 100%;
}

body {
	/*font-family: 'Roboto';*/
	font-weight: 100; 
	margin-bottom: 60px;
}

/******************* containers *********************/
#header-container {
}

#main-container {
}

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.navbar-brand {
	font-family: 'Tangerine';
	font-size: 40px;
}

.jumbotron-home h1 {
	font-family: 'Tangerine';
	font-style: normal;
	font-weight: 100;
	font-size: 136px;
	color: #312D3A;
	text-shadow: 0px 0px 10px #000;
}

.question {
	font-size: 20px;
	font-weight: 300;
}
