<p>Realizat ca o reactie la frustrarea pe care am avut-o cand am parcurs "Testul de Daruri Spirituale" in modalitatea initiala cu foie si pix, asa ca am incercat sa construiesc o modalitate mai buna. Astfel ca acest test online are urmatoarele facilitati:</p>
 <ul>
 	<li>poate fi intrerupt oricand si continua de unde l-ai lasat (folosind acelasi device)</li>
 	<li>este mobile friendly (poate fi vizualizat cu success de pe telefon, tableta, laptop)</li>
 	<li>functioneaza si offline (o data ce pagina initiala s-a incarcat, te poti deconecta de la net si parcurgi in tihna intrebarile si citi rezultatul)</li>
 </ul>
