Test de daruri spirituale online:
http://oprean.ddns.net/quizzes/#

 L-am facut ca o reactie la frustrarea pe care am avut-o cand l-am parcurs in modalitatea initiala cu foie si pix, asa ca am incercat sa construiesc o modalitate mai buna. Astfel ca acest test online are urmatoarele facilitati:
 1) poate fi intrerupt oricand si continua de unde l-ai lasat (folosind acelasi device)
 2) este mobile friendly (poate fi vizualizat cu success de pe telefon, tableta, laptop)
 3) functioneaza si offline (o data ce pagina initiala s-a incarcat, te poti deconecta de la net si parcurgi in tihna intrebarile si citi rezultatul)

V-as ruga, daca vreti/aveti timp/curiozitate sa il testati si sa imi dati feedback.

P.S. nu colectez nici un fel de date.

O saptamana frumoasa,
Sergiu Oprean​