<div class="jumbotron-home text-center center-block">
	<div class="row">
		 <div class="col-md-4 col-sm-6">
  			<img src="assets/img/logo.png" class="img-responsive center-block" alt="Baterie de teste">		 	
		 </div>
		 <div class="col-md-8 col-sm-6">
		  <h1 class="center-block"><%= name %></h1>
		  <div class="text-justify description-container">
			  <p><%= description %>  </p> 	
		  </div>
		 </div>
	</div>
</div>
 <br />
<div class="row">
<% _.each(quizzes, function(quiz) { %>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="quiz-card-container">
		<h3><%= quiz.name %></h3>
		<p><%= quiz.description %></p>
		<a role="button" class="btn btn-primary" href="#quiz/<%= quiz.id %>/home">View</a> 
	</div>
</div>
<% }) %>
</div>