<div class="jumbotron-home text-center center-block">
  <h1 class="center-block">Darurile Spirituale	</h1>
  <p>Important: fă evaluarea darurilor spirituale pe baza a ceea ce ştii că este adevărat despre tine în prezent, nu pe baza a ceea ce crezi că este adevărat, sau ai vrea să fie adevărat sau trebuie să fie adevărat în ce te priveşte. Cât de potrivite sunt aceste afirmaţii referitor la tine? Care este experienţa ta? În ce măsură reflectă afirmaţia respectivă tendinţele tale naturale/fireşti.</p>
  <p><a class="btn btn-primary btn-lg" href="#question/1" role="button">Start</a></p>
</div>
 