<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= progress %>%">
    <%= progress %>%
  </div>
</div>
<div class="question-container text-center">
	<p class="question"><%= text %></p>
	<div class="text-center block-center">
		<% _.each(options, function(option) { %>
		<div class="radio visible-xs-block">
			<label class="label-option">
			  <input type="radio" class="answer" name="options" value="<%= option.val %>"> 
			  <%= option.text%>
			</label>
		</div>
		<label class="radio-inline hidden-xs">
		  <input type="radio" class="answer" name="options" value="<%= option.val %>"> 
		  <%= option.text%>
		</label>
		<% }) %>
	</div>
	<br />
	<p><a class="btn btn-primary btn-lg btn-next-question" style="display: none;" href="#quiz/<%= quiz_id %>/<%= next %>" role="button">
			<%= (progress==100)?'Results':'Next' %>
			<span aria-hidden="true" class="glyphicon <%= (progress==100)?'glyphicon-ok':'glyphicon-chevron-right' %>"></span>
		</a></p>
	<!--div>
		<a class="btn btn-primary btn-lg btn-prev-question pull-left" href="#quiz/<%= quiz_id %>/1" role="button">
			<span aria-hidden="true" class="glyphicon <%= (next==1)?'glyphicon-home':'glyphicon-chevron-left' %>"></span>
			<%= (next==1)?'Home':'Previous' %>
		</a>
		<a class="btn btn-primary btn-lg btn-prev-question pull-right" href="#quiz/<%= quiz_id %>/<%= next %>" role="button">
			<%= (next=='result')?'Results':'Next' %>
			<span aria-hidden="true" class="glyphicon <%= (next=='result')?'glyphicon-ok':'glyphicon-chevron-right' %>"></span>
		</a-->
	</div>
</div>
