<div class="question">
	<p class="text-center">Ajut oamenii să se înţeleagă pe ei înşişi, relaţiile lor şi pe Dumnezeu prin intermediul exprimării artistice.</p>
	<form class="text-center">
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Întotdeauna
		</label>
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> De cele mai multe ori
		</label>
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Uneori
		</label>
		<label class="radio-inline">
		  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Niciodată
		</label>
	</form>	
</div>
