<div class="jumbotron-home text-center center-block">
  <h1 class="center-block"><%= name %></h1>
  <br />
	<div class="progress">
	  <div class="progress-bar progress-bar-<%= status.class %>" role="progressbar" aria-valuenow="<%= status.percent %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 3.5em; width: <%= status.percent %>%">
	    <%= status.text %>
	  </div>
	</div>
	<div class="row">
	  <div class="qrcode-container col-md-2 col-sm-3 hidden-xs">  	
	  </div>
	  <div class="text-justify description-container col-sm-9 col-md-10 col-xs-12">
		  <p><%= description %>  </p>
		  <p><strong>Important:</strong> fă evaluarea raspunsurilor pe baza a ceea ce ştii că este adevărat despre tine în prezent, nu pe baza a ceea ce crezi că este adevărat, sau ai vrea să fie adevărat sau trebuie să fie adevărat în ce te priveşte. Cât de potrivite sunt aceste afirmaţii referitor la tine? Care este experienţa ta? În ce măsură reflectă afirmaţia respectivă tendinţele tale naturale/fireşti.</p>  	
	  </div>		
	</div>
  <br />
  <p>
  	<a class="btn btn-primary btn-lg btn-start" href="#quiz/<%= id %>/1" role="button">Start</a>
  	<a style="display:none" class="btn btn-primary btn-lg btn-resume" href="#quiz/<%= id + '/' + status.data %>" role="button">Continuă</a>
  	<a style="display:none" class="btn btn-primary btn-lg btn-result" href="#quiz/<%= id %>/result" role="button">Rezultat</a>
  	<p class="label-started-on" style="display:none">Început : <%= status.start_date %></p>
  </p>
</div>
 