<div class="bbm-modal__topbar">
 	<button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="bbm-modal__title">Group:<%= name %></h3>
</div>
<div class="bbm-modal__section">
<form class="form-horizontal">
<div class="row">
<div class="col-md-5">
  <div class="form-group">
    <label for="unassigned" class="control-label">Unassigned users</label>
	 <select class="form-control input-sm" name="unassigned" multiple="multiple" size="10">
	    <option>text1</option>
	    <option>text2</option>
	    <option>text3</option>
	    <option>text4</option>
	    <option>text5</option>
	 </select>
    <span class="help-block"></span>
  </div>
 </div>
<div class="col-md-2 text-center">
	<br /><br />
	<button title="Save changes" type="button" class="btn-cancel btn btn-default btn-sm">
		<i class="fa fa-arrow-right"></i>
	</button>
	<button title="Save changes" type="button" class="btn-cancel btn btn-default btn-sm">
		<i class="fa fa-arrow-left"></i>
	</button>
</div>
<div class="col-md-5">
<div class="form-group">
    <label for="assigned" class="control-label">Assigned users</label>
	 <select class="form-control input-sm" name="assigned" multiple="multiple" size="10">
	    <option>text1</option>
	    <option>text2</option>
	    <option>text3</option>
	    <option>text4</option>
	    <option>text5</option>
	 </select>
	<span class="help-block"></span>
  </div>
</div>
</div>
</form>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>