<div class="bbm-modal__topbar">
 	<button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="bbm-modal__title">Group:<%= name %></h3>
</div>
<div class="bbm-modal__section">
<form class="form-horizontal">
<div class="row">
<div class="col-md-5">
  <div class="form-group">
    <label for="unassigned" class="control-label">Unassigned</label>
	 <select class="form-control input-sm" name="unassigned" id="unassigned" multiple="multiple" size="10">
	 	<% _.each(unassigned, function(user){ %>
	 		<option value="<%= user.id%>"><%= user.username %></option>	
	 	<% }) %>
	 </select>
    <span class="help-block"></span>
  </div>
 </div>
<div class="col-md-2 text-center">
	<br /><br />
	<button title="Assign" type="button" data-action="assign" class="btn-update btn btn-default btn-sm">
		<i class="fa fa-arrow-right"></i>
	</button>
	<button title="Unassign" type="button" data-action="unassign" class="btn-update btn btn-default btn-sm">
		<i class="fa fa-arrow-left"></i>
	</button>
</div>
<div class="col-md-5">
<div class="form-group">
    <label for="assigned" class="control-label">Assigned</label>
	 <select class="form-control input-sm" name="assigned" id="assigned" multiple="multiple" size="10">
	 	<% _.each(assigned, function(user){ %>
	 		<option value="<%= user.id%>"><%= user.username %></option>	
	 	<% }) %>
	 </select>
	<span class="help-block"></span>
  </div>
</div>
</div>
</form>
</div>
<div class="bbm-modal__bottombar">
	<button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Ok</button>
</div>